<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This Site is created by Shikhar Singh . It uses data from <a href="https://www.mapbox.com/"> MapBox</a> and from the <a href="https://darksky.net/">DarkSky</a> </p>
        <img class="portrait" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>